#URL DE CONEXÃO COM O SERVIDOR DE ENVIO DAS PLACAS
IP_DO_SERVIDOR="http://localhost"
PORTA_JSON="9081"
PORTA_IMG="9081"
ENDPOINT_PLACAS_JSON="placas-ocr"
ENDPOINT_PLACAS_IMG="imagem-ocr"
TENTATIVAS_DE_ENVIO_JSON=1
TENTATIVAS_DE_ENVIO_IMG=1

CAMINHO_DAS_PLACAS="../pegasus/storage/storaged_captures"

#URL DE CONEXÃO COM O BANCO DE DADOS
DATABASE_URL="postgresql://postgres:1011101@localhost:6432/pegasus_local?schema=public"

#CONFIGURACOES DA LEGENDA
CODIGO_EQUIPAMENTO=418
ENDERECO="BR-163 KM006+240"
MUNICIPIO="MUNDO NOVO"
SENTIDO="ENTRADA"
UF="MS"
